DISCORD_TOKEN=seu_token_aqui
GOOGLE_CREDENTIALS={"type":"service_account",...}
SPREADSHEET_ID=id_da_planilha_aqui
PRESENCA_CHANNEL_ID=id_do_canal_presenca
AGENDA_SEMANAL_ID=1493049627551862784
AGENDA_MENSAL_ID=1493049739170808000
PENDENCIAS_ID=1493053855842435163
TIMEZONE=America/Sao_Paulo
